*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body
{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

#intro
{
    height: 30%;
    width: 100%;
    background-color: rgb(6, 6, 68);
    color:rgb(228, 230, 222);
    text-align:center;
    padding-top:40px;
}

#intro_h2
{
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: rgb(228, 230, 222);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    word-spacing: 4px;
    letter-spacing: 2px;
    
}

#intro_p
{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-style: italic;
    font-weight: 50;
    word-spacing: 6px;
}

#info
{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    background-color: beige;
    padding-left: 30px;
    padding-right: 30px;
}
.title_h3
{
    text-align:center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.5rem;
}
#info_p
{
    text-align: center;
    font-size: 1rem;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:dimgray;
    padding-bottom: 25px;
}

#edu
{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color:rgba(220, 239, 245, 0.562);
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
}

/* #edu_h3
{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 25px;
    padding-bottom: 25px;
} */

.edu_1
{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px; 
    background-color: white;
    color: rgb(73, 72, 72);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#skills
{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color:rgba(243, 230, 193, 0.692);
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;

}

#project
{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color:rgba(225, 209, 243, 0.637);
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
}

#contact
{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color:rgba(217, 243, 193, 0.692);
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;  
}